*{
	box-sizing: border-box;
}
body{
	margin: auto;
}
.centrar{
	text-align: center;
}
.rojo{
	background-color: red
}
h1{
	font-family: 'Russo One', sans-serif;
}
.cajaAmarilla{
	background-color: #e0b127;
	height: 350px;
	border-radius: 20px;
}
